@charset "utf-8";
/* CSS Document */

body {font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif; font-size:14pt; letter-spacing:1px; }
a {color:#061AFF; letter-spacing:1px; }
a:hover {color:#E70C0C;}
table, tr, th, td {border-collapse:collapse;}
th, td {padding:8px;}
td.center {text-align:center;}
hr {border-style:dashed; color:#666363;}
h1 {font-size:20pt; letter-spacing:4px; color:#C90303; }
h2 {font-size:14pt; letter-spacing:1px; color:#2D2C2C;}
h3 {font-size:12pt; letter-spacing:2px; color:#ED0D0D;}
